/* 
------------TYPOGRAPHY---------------
FONT SIZES
12px / 16px/ 20px /24px / 32px / 40px / 48px /62px 

FONT WEIGHT
400 / 700
LINE HEIGHT
1.2 /  1.5
LETTER SPACING
0/-2px

FONT FAMILY
POPPINS
-----------COLOR---------------------
PRIMARY 
Base #339af0 (Skyblue)
Tint #d8ebff (Artic)
Shade #1e7ed6 (Deep sea)

SECONDARY
Base : #9775fa (Lavendar)
Tint: #e5dbff (Moonight Iris)
Shade: #784868 (Velvet Night)

TERTIARY
Base: #ff922b (pumpkin)
Tint: #ffe8cc (Dawn)
Shade: #f76707 (Lava)

GREY 
Base: #495057 (Slate)
Tint: #f1f3f5 (pebble)
Shade: #21529 (Graphite)



*/








h1{
    font-weight: 700;
    text-align:center;
    line-height:1.2;
    letter-spacing:-2px;
    font-size:62px;
    font-family: 'Poppins', sans-serif;
    color:#212529;
}
h2{
    font-weight:700;
    text-align:center;
    line-height: 1.2;
    letter-spacing:-2px;
    font-size:48px;
     font-family: 'Poppins', sans-serif;
     color:#212529;
}


h3{
    font-weight:700;
    line-height:1.2;
  letter-spacing:-2px;
  font-size:48px;
   font-family: 'Poppins', sans-serif;
   color:#212529;

}

h4{

 font-weight:700;
    line-height:1.2;
  letter-spacing:-2px;
  font: size 32px;
   font-family: 'Poppins', sans-serif;
   color:#212529;
}

h5{
     font-weight:700;
    line-height:1.2;
  letter-spacing:-2px;
  font-size:24px;
   font-family: 'Poppins', sans-serif;
   color:#212529;
}


p{
    font-weight:400;
    line-height: 1.5;
    font-size:20;
     font-family: 'Poppins', sans-serif;
     color:#495057;
}

a{
    font-weight: 400;
    text-decoration:none;
    line-height:1.5;
    font-size:16px;
     font-family: 'Poppins', sans-serif;
      color:#495057;
}

ul{
    list-style:none;
     font-family: 'Poppins', sans-serif;
}

